{% extends "layouts/default" %}
{% block content %}
    <div>
        HELLO WORLD:
        <p>{{ title }} {{ id }} </p>
        <ul>
            {% for key, val in arr %}
                <li>
                    <div>1: {{ key }} -- {{ key }}</div>
                    <div>2:  {{ key }} -- {{ key }}</div>
                    <div>3: {{ key }} -- {{ key }}</div>
                    <div>4:  {{ key }} -- {{ key }}</div>
                    <div>5:  {{ key }} -- {{ key }}</div>
                    <div>6:  {{ key }} -- {{ key }}</div>
                    <div>7:  {{ key }} -- {{ key }}</div>
                    <div>8:  {{ key }} -- {{ key }}</div>
                    <div>9: {{ key }} -- {{ key }}</div>
                    <div>10:  {{ key }} -- {{ key }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% parent %}
{% endblock %}